src/test/resources/news/mmrua filter=lfs diff=lfs merge=lfs -text
src/test/resources/news/reuters filter=lfs diff=lfs merge=lfs -text
src/test/resources/news/057ua filter=lfs diff=lfs merge=lfs -text
src/test/resources/news/bbc filter=lfs diff=lfs merge=lfs -text
src/test/resources/news/cnn filter=lfs diff=lfs merge=lfs -text
src/test/resources/news/forbes filter=lfs diff=lfs merge=lfs -text
src/test/resources/news/infocarua filter=lfs diff=lfs merge=lfs -text
src/test/resources/news/itc filter=lfs diff=lfs merge=lfs -text
src/test/resources/news/tricity filter=lfs diff=lfs merge=lfs -text
src/test/resources/news/укрправда filter=lfs diff=lfs merge=lfs -text
src/test/resources/news/cnbc filter=lfs diff=lfs merge=lfs -text
src/test/resources/source_page/forbes filter=lfs diff=lfs merge=lfs -text
src/test/resources/source_page/укрправда filter=lfs diff=lfs merge=lfs -text
src/test/resources/source_page/bbc filter=lfs diff=lfs merge=lfs -text
src/test/resources/source_page/cnn filter=lfs diff=lfs merge=lfs -text
src/test/resources/source_page/infocarua filter=lfs diff=lfs merge=lfs -text
src/test/resources/source_page/itc filter=lfs diff=lfs merge=lfs -text
src/test/resources/source_page/mmrua filter=lfs diff=lfs merge=lfs -text
src/test/resources/source_page/reuters filter=lfs diff=lfs merge=lfs -text
src/test/resources/source_page/tricity filter=lfs diff=lfs merge=lfs -text
src/test/resources/source_page/057ua filter=lfs diff=lfs merge=lfs -text
src/test/resources/source_page/cnbc filter=lfs diff=lfs merge=lfs -text
src/test/resources/web_page/tricity filter=lfs diff=lfs merge=lfs -text
src/test/resources/web_page/057ua filter=lfs diff=lfs merge=lfs -text
src/test/resources/web_page/bbc filter=lfs diff=lfs merge=lfs -text
src/test/resources/web_page/cnbc filter=lfs diff=lfs merge=lfs -text
src/test/resources/web_page/cnn filter=lfs diff=lfs merge=lfs -text
src/test/resources/web_page/infocarua filter=lfs diff=lfs merge=lfs -text
src/test/resources/web_page/reuters filter=lfs diff=lfs merge=lfs -text
src/test/resources/web_page/forbes filter=lfs diff=lfs merge=lfs -text
src/test/resources/web_page/itc filter=lfs diff=lfs merge=lfs -text
src/test/resources/web_page/mmrua filter=lfs diff=lfs merge=lfs -text
src/test/resources/web_page/укрправда filter=lfs diff=lfs merge=lfs -text
